*{
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}
.header{
    background: rgb(57,56,53);
    background: linear-gradient(157deg, rgba(57,56,53,1) 0%, rgba(4,4,11,1) 1%, rgba(21,22,22,1) 100%);
    width: 100%;
    height: 100px;
    text-align: center;
}
.h1{

    padding: 20px;
    color: white;
}
.nav{
    background-color: rgb(240, 240, 241);
    width: 100%;
    height: 20px;
}
.main{
    background-color: rgb(240, 240, 241);
    width: 100%;
    height: calc(70vh - 0px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background: black;
    width: 70%;
    height: 100%;
    display: block;

}
.parte1{
    display:inline-flex;
    width: 100%;
    height: 50%;
}


.section2{
    
    width: 100%;
    height: 100%;
    display: block;


}
.aside{
    background-color: black;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 5%;
    width: 20%;
    height: 100%;
}



.cuadro{
    color: white;
    background: rgb(48, 47, 163);
    border: solid white;
    border-radius: 10%;  
}
.i{
    width: 70px;
    height: 100px;
}

.footer{
   
    
    text-align: center;
    width: 100%;
    height: 100px;
    
}


.tablaP{
    width: 80%;
    height: 70px;
    
}


.espacio{
    text-align: center;
    width: 15%;
    height: 90%;
    padding: 10px;
}

.x{ 
    font-size: 10px;
    background-color: brown;
    text-align: center;
    width: 25px;
    height: 22px;
    border: solid 2px;
    border-radius: 100%;
}
.x:hover{
    cursor: pointer;
}
